// css spécifique aux classes de la section contact

.contact {
    position: relative;
}

.message {
    font-family: "AA Typewriter";
    height: 15%;
    padding: 20px 20px 100px 20px;
    font-size: 32px;
    text-align: center;
}

.contact-form {
    width: 50%;
    position: absolute;
    top: 20%;
    left: 20%;
}

.links {
    position: absolute;
    top: 30%;
    right: 25%;
}

.input-name, .input-object, .input-email, textarea {
    padding: 5px;
    margin-bottom: 5px;
    border: solid $darkviolet 1px;
    background-image: $bg-gradient;
    background-color: $bg-color-alt;
}

textarea {
    width: 50%;
    height: 150px;
    resize: none;
}

.submit-btn{
    background-color: $block-background;
}

.link-icon {
    color: $darkviolet;
    font-size: 25px;
}

.nav-arrow-left{
    position: absolute;
    top: 50%;
    left: 0;  
    transform: translate(50%, -50%);
}

//mobile
@media screen and (max-width: 640px)
{
    .contact-form 
    {
        display: none;
    }

    .message
    {
        font-size: 30px;
    }

    .links
    {
        left: 20%;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
    }
}