// css spécifique aux classes de la section contact

.contact {
    position: relative;
}

.message {
    font-family: "AA Typewriter";
    height: 15%;
    padding: 20px 20px 100px 20px;
    font-size: 32px;
    text-align: center;
}

.contact-form {
    width: 50%;
    position: absolute;
    top: 20%;
    left: 20%;
}

.links {
    position: absolute;
    top: 30%;
    right: 25%;
}

.input-name, .input-object, .input-email, textarea {
    padding: 5px;
    margin-bottom: 5px;
    border: solid $darkviolet 1px;
    background-image: $bg-gradient; 
    background-color: $bg-gradient;
}

textarea {
    width: 50%;
    height: 150px;
    resize: none;
}

.submit-btn{
    background-color: $block-background;
}

.link-icon {
    color: $darkviolet;
    font-size: 25px;
}

.nav-arrow-left{
    position: absolute;
    padding-left: 20px;
    top: 45%;  
}