// css spécifique aux classes dans la section index

.index {
  display: flex;
  position: relative;
}

.left-part, .right-part {
  position: relative;
  width: 50%;
  height: 100%;
}


// flèches du milieu:
// skills & contact
.left-middle-arrow, .right-middle-arrow {
  position: absolute;
  top: 50%;
}

.left-middle-arrow {
  left: 4%;
  transform: translate(-50%,-50%);

}

.right-middle-arrow {
  right: 4%;
  transform: translate(50%, -50%);
}


// flèches du haut et du bas:
// parcours & projets
.bottom-middle-arrow, .top-middle-arrow{
  position: absolute;
  left: 50%;
}

.bottom-middle-arrow {
  bottom: 4%;
  transform: translate(-50%,50%);
}

.top-middle-arrow {
  top: 4%;
  transform: translate(-50%,-50%);
}

// carré flottant au milieu
.floating-box-middle {
  position: absolute;
  font-family: "AA Typewriter";
  background-color: $darkviolet;
  color: white;
  text-align: center;
  width: 150px;
  height: 150px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

// cadres de présentation
.description {
  // deux class de descriptions car ombre pas du même côté ??
  position: absolute;
  padding: 5px;
  width: 50%;
  height: 45%;
  border: solid $border 1px;
  background-color: $bg-color-alt;
  background-image: $bg-gradient;
  box-shadow: 5px 5px 5px black;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}
