// css spécifique aux classes dans la section index

.index {
  display: flex;
  position: relative;
}

.left-part, .right-part {
  width: 50%;
  height: 78%;
  top: 11%;
  position: relative;
}

.left-part {
  border-right: dotted $border 2px;
}

// flèches du milieu:
// skills & contact
.left-middle-arrow, .right-middle-arrow {
  position: absolute;
  padding-left: 20px;
  top: 44%;
  /* text-align: center; */
}

.left-middle-arrow {
  left: 0;
}

.right-middle-arrow {
  right: 0;
}


// flèches du haut et du bas:
// parcours & projets
.bottom-middle-arrow, .top-middle-arrow{
  position: absolute;
  left: 49%;
  /* text-align: center; */
}

.bottom-middle-arrow {
  padding-bottom: 20px;
  bottom: 0;
}

.top-middle-arrow {
  padding-top: 20px;
}

// carré flottant au milieu
.floating-box-middle {
  position: absolute;
  font-family: "AA Typewriter";
  background-color: $darkviolet;
  color: white;
  text-align: center;
  width: 150px;
  height: 150px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

// cadres de présentation
.description {
  // deux class de descriptions car ombre pas du même côté ??
  position: absolute;
  padding: 5px;
  width: 50%;
  height: 45%;
  border: solid $border 1px;
  background-color: $bg-color-alt;
  background-image: $bg-gradient;
  box-shadow: 5px 5px 5px black;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}
