// spécifique à la section "parcours"
.parcours {
  position: relative;
}

.nav-arrow-down {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%,-50%);
}
  
.timeline-container {
  display: block;
  position: absolute;
  top: 40%;
  color: $darkviolet;
  text-align: center;
  width: 100%;
  /* height: 100%; */
}

.line {
  display: block;
  position: absolute;
  background: $darkviolet;
  width: 90%;
  height: 5px;
  top: 70%;
  left: 5%;
}

/* .timeline-container .timeline-area {
  /* height: 100%; */

.dot {
  position: relative;
  display: inline-block;
  width: 3%;
  margin-right: 4%;
  transition: width 1s;
  height: 100%;
}

.date {
  position: absolute;
  display: block;
  font-weight: bold;
  margin-top: -10%;
  width: 100%;
}

.date:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 auto 8px;
  border-radius: 50%;
}

.color-work:before {
  background: $background;
}

.color-study:before {
  background: $block-background;
}

.info-card {
  position: absolute;
  display: none;
  margin-top: -65%;
  width: 120%; 
}

.info-card img {
 max-width: 100%;
}

.dot.active {
  width: 10%;
}

.dot.active .info-card {
  display: block;
}
  
.legend {
  position: absolute;
  width: 50%;
  bottom: 20%;
  left: 25%;
  text-align: center;
}

.dot-box {
  text-align: center;
}

.dot-xp, .dot-study {
  margin: 0 1% 0 3%;
  padding: 1px;
  font-size: 12px;
  background-color: rgba(0,0,0,0.3)
}

.dot-xp {
  color: $background;
}

.dot-study {
  color: $block-background;
}

.link-CV {
  padding-top: 1%;
}
@media screen and (min-width: 360px)
{
  .mobile-background
  {
    display: none;
  }
}

// mobile
@media screen and (max-width: 640px){
  .timeline-container, .legend{
    display : none;
  }
  .mobile-background{
    display: block;
    width: 95%;
    margin: auto;
    position: absolute;
    top: 15%;
    left: 2.5%;
    text-align: center;
  }
  .exp-table {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .grid-cell{
    padding: 5%;
  }

  .pop-up-img {
    display: none;
    width: 300px;
    height: 200px;
    background-color:#6b5677da;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pop-up-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .cell-study{
    background-color: $background;
  }
  .cell-work {
    background-color: $block-background;
  }
}