// spécifique à la section "parcours"
.parcours {
  position: relative;
}

.nav-arrow-down {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%,-50%);
}
  
.timeline-container {
  display: block;
  position: absolute;
  top: 40%;
  color: $darkviolet;
  text-align: center;
  width: 100%;
  /* height: 100%; */
}

.line {
  display: block;
  position: absolute;
  background: $darkviolet;
  width: 90%;
  height: 5px;
  top: 70%;
  left: 5%;
}

/* .timeline-container .timeline-area {
  /* height: 100%; */

.dot {
  position: relative;
  display: inline-block;
  width: 3%;
  margin-right: 4%;
  transition: width 1s;
  height: 100%;
}

.date {
  position: absolute;
  display: block;
  font-weight: bold;
  margin-top: -10%;
  width: 100%;
}

.date:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 auto 8px;
  border-radius: 50%;
}

.color-work:before {
  background: $background;
}

.color-study:before {
  background: $block-background;
}

.info-card {
  position: absolute;
  display: none;
  margin-top: -60%;
  width: 100%; /*ajuster*/
}

.info-card img {
 max-width: 100%; /*ajuster*/
}

.dot.active {
  width: 10%;
}

.dot.active .info-card {
  display: block;
}
  
.legend {
  position: absolute;
  width: 50%;
  bottom: 20%;
  left: 25%;
  text-align: center;
}

.dot-box {
  text-align: center;
}

.dot-xp, .dot-study {
  margin: 0 1% 0 3%;
  padding: 1px;
  font-size: 12px;
  background-color: rgba(0,0,0,0.3)
}

.dot-xp {
  color: $background;
}

.dot-study {
  color: $block-background;
}

.link-CV {
  padding-top: 1%;
}