.projets {
  position: relative;
}

.nav-arrow-up {
  position: absolute;
  left: 50%;
  transform: translate(-50%,50%);
}

.projects-main {
  display: flex;
  padding: 50px;
  justify-content: space-around;
}
.projects-menu {
  border: solid 1px black;
  width: 150px;
  margin-left: -300px;
  background-image: $bg-gradient;
  background-color: $bg-color-alt;
  position: absolute;
  top: 20%;
  left: 30%;
}

.project-name {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid $border;
  padding: 5px;
  transition: 10s;
}

.project-name:hover {
  font-size: 18px;
  background-color: $darkviolet;
  text-decoration: line-through;
  transition: 0s;
}

.video {
  position: absolute;
  background-color: $darkviolet;
  width: 40%;
  height: 40%;
  border: solid 1px black;
  top: 20%;
  overflow: hidden;
}

.video img {
  max-width: 100%;
  
}

.details {
  position: absolute;
  top: 60%;
  left: 30%;
}
