.projets {
  position: relative;
}

.nav-arrow-up {
  position: absolute;
  padding-top: 20px;
  left: 50%;
  right: 50%;
}

.switch-language {
  position: absolute;
  top: 3%;
  right: 1%;
  border: 1px solid $border;
  background-image: $bg-gradient;
  background-color: $bg-gradient;
  padding: 5px;
  transition: all .2s ease-in-out;
}

.switch-language:hover
{
    transform: scale(1.1);
}

.projects-main {
  display: flex;
  padding: 50px;
  justify-content: space-around;
}
.projects-menu {
  border: solid 1px black;
  width: 150px;
  margin-left: -300px;
  background-image: $bg-gradient;
  background-color: $bg-gradient;
  position: absolute;
  top: 20%;
  left: 30%;
}

.project-name {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid $border;
  padding: 5px;
  transition: 10s;
}

.project-name:hover {
  font-size: 18px;
  background-color: $darkviolet;
  text-decoration: line-through;
  transition: 0s;
}

.video {
  position: absolute;
  width: 40%;
  height: 40%;
  border: solid 1px black;
  top: 20%;
}

.details {
  position: absolute;
  top: 60%;
  left: 30%;
}
