.skills {
  position: relative;
}

.tabs {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-around;
}

.skill-tab {
  border: solid 1px $border;
  width: 20%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.465);
}

.subtab-title {
  display: flex;
  text-transform: uppercase;
  border-bottom: solid 1px $border;
  padding: 5%;
  height: 15%;
  justify-content: center;
  align-items: center;
  background-color: #6b56774b;
}

.subtab-content {
  height: 85%;
  padding-top: 5%;
  padding-left: 5%;
  background-image: $bg-gradient;
  background-color: $bg-color-alt;
  overflow: hidden;
  font-size: 16px;
}

.skills-icon {
  font-size: 18px;
  padding: 5px 0;
  color: $darkviolet;
}

.nav-arrow-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
