.skills {
  position: relative;
}

.tabs {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-around;
}

.skill-tab {
  border: solid 1px $border;
  width: 20%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.465);
}

.subtab-title {
  display: flex;
  text-transform: uppercase;
  border-bottom: solid 1px $border;
  padding: 5%;
  height: 15%;
  justify-content: center;
  align-items: center;
  background-color: #6b56774b;
}

.subtab-content {
  position: relative;
  height: 85%;
  padding-top: 5%;
  padding-left: 5%;
  background-image: $bg-gradient;
  background-color: $bg-color-alt;
  overflow: hidden;
  font-size: 16px;
}

.skills-icon {
  font-size: 22px;
  padding: 5px 0;
  color: $darkviolet;
}

.name-skill {
  position: absolute;
  padding-top: 3%;
  left: 20%;
}

.language-tab, .other-computer-skills{
  position: relative;
  margin-bottom: 10%;
}

.skills-language, .skills-other {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  color: $darkviolet;
  font-size: 30px;
}

.skills-other{
  top: 0;
}

.skills-language{
  top: -10%;
}
.flags
{
  border-radius: 50%;
  width: 10%;
  margin-top: 5%;
}

.nav-arrow-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

// mobile
@media screen and (max-width: 640px)
{
  .tabs 
  {
    display: block;
    

  }

  .skill-tab
  {
    width: 100%;
    margin-bottom: 5%;
  }

  .subtab-title{
    text-align: center;
  }

  .subtab-content
  {
    display: none;
  }
}
